html, body
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header
{
    width: 100vw;
    background-color: dimgrey;
}

.navbar
{
/*    height: 8vh;*/
    position: fixed;
    z-index: 1;
    width: 100vw;
    border-bottom: 1px solid darkgoldenrod;
    background-color: #F8F9FA;
    font-size: 150%;
}

#navbarNav 
{
    background-color: #F8F9FA;
    background-position: center;
    height: auto;
    width: 100vw;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 1.5vh;
}

/*57 PIXELS DE PADDING-TOP POUR COMPENSER LA HAUTEUR EXACTE DE LA NAVBAR, QUI SINON COUVRAIT UNE PARTIE DE LA BANNIERE*/
.banniere
{
    background: url(img/mountain.jpg) no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 80vh;
    padding-top: 57px;
}

h2
{
    font-size: 3vh;
    margin-top: 5vh;
    margin-bottom: 6vh;
    text-align: center;
}

#collection_casual, #collection_prestige, #collection_high_tech
{
    padding-top: 7vh;
}

/* MARGIN : 0 SUR .ROW DESACTIVE LES MARGES PAR DEFAUT DE BOOTSTRAP QUI EMPECHENT LE CONTENU DE REMPLIR L'ECRAN*/
.row
{
    margin: 0;
    height: 100vh;
    justify-content: space-around;
}

#colonne1, #colonne2, #colonne3, #colonne4, #colonne5, #colonne6, #colonne7, #colonne8, #colonne9, #colonne10, #colonne11, #colonne12
{
/*    background-color: aqua;*/
    border: darkgoldenrod solid 1px;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (min-width: 768px)
{
    #colonne1, #colonne2, #colonne3, #colonne4, #colonne5, #colonne6, #colonne7, #colonne8, #colonne9, #colonne10, #colonne11, #colonne12
    {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px)
{
    .separateurs
    {
    border-top: 1px solid darkgoldenrod;
    width: 20vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    }
}