html, body
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header
{
    width: 100vw;
    background-color: dimgrey;
}

.navbar
{
/*    height: 8vh;*/
    position: fixed;
    z-index: 1;
    width: 100vw;
    border-bottom: 1px solid darkgoldenrod;
    background-color: #F8F9FA;
    font-size: 150%;
    margin-top: -57px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1.5%;
    padding-right: 2%;
}

.navbar-brand
{
    z-index: 1;
}

#navbarNav 
{
    background-color: #F8F9FA;
    background-position: center;
    height: auto;
    width: 100vw;
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 1.5vh;
}

/*57 PIXELS DE PADDING-TOP POUR COMPENSER LA HAUTEUR EXACTE DE LA NAVBAR, QUI SINON COUVRAIT UNE PARTIE DE LA BANNIERE*/
.banniere
{
    background: url(img/banniere4.PNG) no-repeat center;
    background-size: 200%;
    width: 100vw;
    height: 50vh;
    padding-top: 57px;
    margin-top: 57px;
}

/*POUR PAS QUE LE NOM DE MARQUE SOIT FLOU SUR PC*/
@media (min-width: 1025px)
{
    .banniere
    {
        background: url(img/bannierepc.PNG) no-repeat center;
        background-size: cover;
    }
}

@font-face
{
    font-family: 'pinyonscript';
    src: url('pinyonscript.ttf');
}

h2
{
/*    font-family: 'pinyonscript';*/
    font-family: 'Italianno', cursive;
/*    font-weight: 600;*/
    font-size: 3rem;
    margin-top: 5vh;
    margin-bottom: 6vh;
    text-align: center;
    width: 100vw;
/*    background-color: #F8F9FA;*/
    border-bottom: solid darkgoldenrod 1px;
    border-top: solid darkgoldenrod 1px;
    padding-top: 0.5rem;
/*    color: darkgoldenrod;*/
/*    padding-bottom: 0.1rem;*/
}

h3
{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

#collection_casual, #collection_prestige, #collection_high_tech
{
    padding-top: 7vh;
}

/* MARGIN : 0 SUR .ROW DESACTIVE LES MARGES PAR DEFAUT DE BOOTSTRAP QUI EMPECHENT LE CONTENU DE REMPLIR L'ECRAN*/
.row
{
    margin: 0;
/*    height: 100vh;*/
    justify-content: space-around;
}

.colonne
{
/*
    background-image: url(img/ap.jpg) ;
    background-size: contain;
*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: darkgoldenrod solid 1px;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 10%;
    padding-right: 10%;
}

.ap
{
    width: 75%;
}

p
{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

@media (min-width: 768px)
{
    #colonne1, #colonne2, #colonne3, #colonne4, #colonne5, #colonne6, #colonne7, #colonne8, #colonne9, #colonne10, #colonne11, #colonne12
    {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 800px)
{
    .separateurs
    {
    border-top: 1px solid darkgoldenrod;
    width: 20vw;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    }
}