html, body
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header
{
    height: 8vh;
    width: 100vw;
    background-color: green;
}

.banniere
{
    background: url(img/mountain.jpg) no-repeat center;
    width: 100vw;
    height: 40vh;
}

h2
{
    font-size: 3vh;
    margin-top: 5vh;
    text-align: center;
}

/* MARGIN : 0 SUR .ROW DESACTIVE LES MARGES PAR DEFAUT DE BOOTSTRAP QUI EMPECHENT LE CONTENU DE REMPLIR L'ECRAN*/
.row
{
    margin: 0;
    height: 100vh;
    justify-content: space-around;
}

#colonne1, #colonne2, #colonne3, #colonne4, #colonne5, #colonne6, #colonne7, #colonne8, #colonne9, #colonne10, #colonne11, #colonne12
{
    background-color: aqua;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

@media (min-width: 768px)
{
    #colonne1, #colonne2, #colonne3, #colonne4, #colonne5, #colonne6, #colonne7, #colonne8, #colonne9, #colonne10, #colonne11, #colonne12
    {
        margin-left: auto;
        margin-right: auto;
    }
}